body{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin:0px;
}

#status , #number_of_objets,#start
{
    font-size: 18px;
}
.copy_rigth_footer{
    position:fixed;
    color:slategray;
    bottom: 0;
    width:100%;
    background-color: aliceblue;
    line-height: 3;
    text-align: center;
}